@import "fonts/font-face.css";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  direction: rtl;
  font-family: "Vazir";
}
body {
  position: relative;
  background: #606c88; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3f4c6b,
    #606c88
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3f4c6b,
    #606c88
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.container {
  width: 1024px;
  height: auto;
  margin: 0 auto;
  
}
.box {
  
  margin: 20px;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(184, 184, 184);
  background: #fff;
}
.box h1 {
  text-align: center;
}
ul {
  margin-top: 50px;
}
ul li {
  list-style-type: none;
  padding: 20px;
  text-align: center;
  position: relative;
}
ul li:nth-child(even) {
  background-color: rgb(240, 240, 240);
}
ul li:nth-child(odd) {
  background-color: rgb(246, 246, 246);
}
ul li::before {
  content: "";
  display: block;
  background: rgb(92, 206, 0);
  top: 40px;
  border-radius: 50%;
  position: absolute;
  width: 15px;
  height: 15px;
  transition: background 0.3s;
  animation: animate infinite 0.5s;
  opacity: 0;
}
.online::before {
  opacity: 1;
}
ul li span {
  width: 20%;
  display: inline-block;
  text-align: center;
}
a {
  padding: 10px;
  display: block;
  border: 1px solid #eee;
  text-decoration: none;
  color:#fff;
  background-color: purple;
  box-shadow: 0 0 10px rgb(202, 202, 202);
}
a:active {
  box-shadow: 0 0 20px rgb(158, 158, 158);
}
.contact{
  padding: 5px;
  display: inline-block;
  border: 0;
  text-decoration: none;
  color:#fff;
  background-color: rgb(0, 110, 255);
  box-shadow: 0 0 10px rgb(202, 202, 202);
}
.footer{
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  background: #000;
  text-align: center;
  padding: 5px;
  color: #fff;
}
.show-alert{
  background-color: rgb(109, 204, 0);
  text-align:center;
}
.show-all{
  background-color: rgb(65, 0, 216);
}
.return-back{
  background-color: rgb(65, 0, 216);
  text-align:center;
}
.time{
  position: fixed;
  width:120px;
  top: 0;
  right: 0;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.589);
  color: #fff;
  z-index: 20;
  text-align:center;
}
.overlay ul p{
  text-align: center;
  padding: 10px;
  margin: 5px 0;
  background-color: #ffd4d4;
}
.overlay{
  width: 100%;
  position: absolute;
  top:0;
  right:0;
  z-index: 19;
  margin:0;
  transition: all .3s;
  
}
.hide{
  transform: translateY(-110%);
  animation: slide-reverse .8s;
}
.show{
  transform: translateY(0);
  animation: slide .8s;
}
@keyframes slide {
  0%{
    transform: translateY(-110%);
  }
  100%{
    transform: translateY(0);
  }
}
@keyframes slide-reverse {
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(-110%);
  }
}
@keyframes animate {
  0% {
    background: rgb(92, 206, 0);
  }
  100% {
    background: rgb(63, 141, 0);
  }
}
@media only screen and (max-width: 1060px) {
  .container{
    width: 790px
  }
}
@media only screen and (max-width: 800px) {
  .container{
    width: 100%
  }
  li{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap
  }
  li span{
    display: block;
    width: 100% !important;
  }
}